<nav class="navbar navbar-dark bg-dark">
  <!-- Navbar content -->
  <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link " href="#">About us</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link " href="#">Driver</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#">Rider</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#">Log in</a>
      </li>
     
    </ul>
</nav>
<img src="taxi.jpg" class="img-fluid" alt="Responsive image">


 

